{% extends 'base.html' %}

{% block title %}
  Admin Dashboard
{% endblock title %}

{% block button %}
   <ul class="navbar-nav" style="margin-left:auto;">
    <li class="nav-item">
      <form action="{{ url_for('signout') }}" method="post">
        <button type="submit" class="btn btn-outline-danger">Sign Out</button>
      </form>
    </li>
   </ul>
{% endblock button %}

<div>This Is Update page </div>

{% block content %}
    <h1 style="text-align: center;" class="my-3">Welcome to UPDATE BOOK PAGE</h1>
    <form method="POST" action="{{ url_for('update_books_page') }}" class="d-flex mb-3">
    <input  type="text"
            name="search_keyword"
            placeholder="Search title / author / ISBN"
            class="form-control me-2"
            value="{{ keyword | default('') }}">
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form>
    {% if books|length == 0 %}
    <div class="alert alert-secondary" role="alert">
        No Books Found!
    </div>

    {% else %}
    
    <table class="table mx-4">
        <thead>
            <tr>
                <th scope="col">Sr.no</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN</th>
                <th scope="col">Publication Year</th>
                <th scope="col">Availability</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ book.b_name }}</td>
                <td>{{ book.b_auth }}</td>
                <td>{{ book.b_isbn }}</td>
                <td>{{ book.b_pub_year }}</td>
                <td>{{ 'Yes' if book.b_check else 'No' }}</td>
                <td>
                    <a href="{{ url_for('update_book', b_id=book.b_id) }}" class="btn btn-success btn-sm mx-1">Update</a>
                    <form action="{{ url_for('delete_book', b_id=book.b_id) }}" method="POST" style="display:inline;">
                      <button type="submit" class="btn btn-danger btn-sm mx-1" onclick="return confirm('are you sure you want to delete ?')" >Delete</button>
                  </form>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


{% endblock %}


