{% extends 'base.html' %} 
{% block button %}
   <ul class="navbar-nav" style="margin-left:auto;">
    <li class="nav-item">
      <form action="{{ url_for('signout') }}" method="post">
        <button type="submit" class="btn btn-outline-danger">Sign Out</button>
      </form>
    </li>
   </ul>
{% endblock button %}
{% block title %} Update Book {% endblock title %} 
{%
block content %}
<h1>Update Book</h1>

<form action="{{ url_for('update_book', b_id=book.b_id) }}" method="POST">
  <div class="mb-3">
    <label for="b_name" class="form-label">Book Title</label>
    <input
      type="text"
      class="form-control"
      name="b_name"
      value="{{ book.b_name }}"
      required
    />
  </div>

  <div class="mb-3">
    <label for="b_auth" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      name="b_auth"
      value="{{ book.b_auth }}"
      required
    />
  </div>

  <div class="mb-3">
    <label for="b_isbn" class="form-label">ISBN</label>
    <input
      type="text"
      class="form-control"
      name="b_isbn"
      value="{{ book.b_isbn }}"
      required
    />
  </div>

  <div class="mb-3">
    <label for="b_pub_year" class="form-label">Publication Year</label>
    <input
      type="number"
      class="form-control"
      name="b_pub_year"
      value="{{ book.b_pub_year }}"
      required
    />
    <label for="availability" class="form-label">Availability</label>
    <select name="availability" class="form-control" required>
      <option value="" selected disabled hidden>Choose here</option> 
      <option value="YES">Yes</option>
      <option value="NO">No</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Update Book</button>
</form>

{% endblock %}
